.paginationContainer {
    margin-top: 25px;
    text-align: right;
}


/* .paginationWrap li.active a {
    border: 1px solid #004aad;
    border-radius: 6px;
    color: #004aad !important;
} */

.paginationContainer .paginationWrap {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.paginationWrap li a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border: 1px solid #E1E1E1;
    cursor: pointer;
    border-radius: 6px;
    transition: all .3s ease-in-out;
    font-size: 12px;
    font-weight: 600;
}

.paginationWrap li:nth-child(1) a {
    border-radius: 5px;
    background-color: #44779D;
}

.paginationWrap li.active a,
.paginationWrap li:hover a {
    border: 1px solid #44779D;
    border-radius: 6px;
    color: #44779D;
}

.paginationWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}


/* .paginationWrappaer :global(.container) {
    position: absolute;
    bottom: 0;
    right: 10px;
} */