.inputStyle {
  /* border-radius: 8px;
    background-color: lightgray;
    width: 100%;
    padding: 10px 12px 10px 12px;
    margin-top: 4px;
    margin-bottom: 12px;
    color: black; */
}

.errorMessage:focus-visible {
  outline-offset: 2px;
  outline-color: theme("colors.light.primaryDanger.tints.900");
  background-color: theme("colors.light.primaryDanger.tints.50");
}

.aaaa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.aaaa input {
  /* padding: 10px;
  background: #efefef;
  width: 100%; */
}
.formInputContainer:first-child {
  margin-top: 0;
}
